<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# RewriteEngine on
# RewriteCond %{HTTP_REFERER} !^$
# RewriteCond %{HTTP_REFERER} !^http://(www.)?tusitio.com/.*$ [NC]
# RewriteRule .(jpg|jpeg|gif|png|bmp)$ - [F]

## Force SSL
RewriteCond %{HTTPS} !=on
RewriteRule ^https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Restricted access to files
<FilesMatch "((\.(lock|cache|db))|CHANGELOG.md|README.md|^(.*\.config|.*\.example)(.*?))$">
	# Apache < 2.3
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
		Satisfy All
	</IfModule>

	# Apache ≥ 2.3
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</FilesMatch>

ErrorDocument 404 /404.php

php_value date.timezone 'America/Bogota'
